{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <a href="/admin/index">
            <button type="button" class="btn btn-primary">Admin</button>
        </a>

        <h1> TOP SONGS </h1>


        {% include 'component/_podium.html.twig' %}


        <h1> Catalogue de chanson du mois </h1>

        {% include 'component/_selectStyle.html.twig' %}
        <div class="row">
            {% for video in videos %}
            <div class="card card-fighters col-3">
                <div class="card-header p-0 d-flex justify-content-between">
                    <div >
                        <form method="POST" class="d-inline" action="/Home/powerUpById/{{ video.id }}">
                            <button type="submit" class="power-button " name="{{ video.id }}"></button>
                        </form>
                        <p class="d-inline power">
                           {% if video.power >= 1000000000 %}
                            {{ (video.power/1000000000)|round(1, 'floor')  }}G
                            {% elseif video.power >= 1000000 %}
                                {{ (video.power/1000000)|round(1, 'floor')  }}M
                            {% elseif video.power >= 1000 %}
                                {{ (video.power/1000)|round(1, 'floor') }}K
                            {% else %}
                                {{ video.power }}
                            {% endif %}
                                </p>
                    </div>
                    <img class="avatar-github" src="https://avatars.githubusercontent.com/{{ video.github }}">
                </div>
                <div class="embed-responsive embed-responsive-21by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ video.youtube_id }}"
                            id="video {{ video.id }}" allowfullscreen></iframe>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>

    {% block javascript %}
    <script src="/assets/javascript/styleSelection.js"></script>
    {% endblock %}
{% endblock %}
