{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container-fluid">






        {% include 'component/_selectStyle.html.twig' %}
        <a href="/admin/index">
            <button type="button" class="btn btn-primary">Admin</button>
        </a>

        <div class="row">
            {% for topSong in topSongs %}

                <div class="card">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ topSong.youtube_id }}"
                            id="video {{ topSong.id }}" allowfullscreen></iframe>
                    <div class="card-body">
                        <form method="POST" action="/Home/powerUpById/{{ topSong.id }}">
                            <h5 class="card-title"> {{ topSong.title }}  Power : {{ topSong.power }}  </h5>
                            <p class="card-text">Post by : {{ topSong.pseudo }}</p>
                            <img class="avatar-github" src="https://avatars.githubusercontent.com/{{ topSong.github }}">
                            <button type="submit" class="btn btn-primary" name="{{ topSong.id }}">POWER</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>


        <div class="row">
            {% for video in videos %}
                <div class="card">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ video.youtube_id }}"
                            id="video {{ video.id }}" allowfullscreen></iframe>
                    <div class="card-body">
                        <form method="POST" action="/Home/powerUpById/{{ video.id }}">
                            <h5 class="card-title"> Power : {{ video.power }}  </h5>
                            <p class="card-text">Texte ??</p>
                            <button type="submit" class="btn btn-primary" name="{{ video.id }}">POWER</button>
                        </form>
                        <form method="POST" action="Admin/delete/{{ video.id }}">
                            <button type="submit" class="btn btn-primary" name="{{ video.id }}">DELETE</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

    {% block javascript %}
    <script src="/assets/javascript/styleSelection.js"></script>
    {% endblock %}
{% endblock %}
