
{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container-fluid mb-5">
        {% if videos %}
            <div class="row justify-content-center">
            <h1 class="nav-link text-center font-weight-bold"> PODIUM DU MOIS </h1>
            </div>
            {% include 'component/_badge_success.html.twig' %}

        {% include 'component/_podium.html.twig' %}
        {% else %}
            <div class="row justify-content-center">
            <h1 class="nav-link text-center font-weight-bold"> SOIS LE PREMIER A POSTER UNE CHANSON </h1>
            </div>
        {% endif %}
        <div class="row justify-content-center">
        <h1 class="nav-link text-center font-weight-bold"> Catalogue de chanson du mois </h1>
        </div>
        {% include 'component/_select_style.html.twig' %}
        <div class="row">
            {% for video in videos %}
                {%  if(loop.index0) > 2 %}
                <div class="card card-fighters col-lg-3 col-12">
                    <div class=" card-header p-0 d-flex justify-content-between">
                        {% include 'component/_power_button.html.twig' %}
                        <img class="avatar-github" src="https://avatars.githubusercontent.com/{{ video.github }}">
                    </div>
                    <div class="embed-responsive embed-responsive-21by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ video.youtube_id }}"
                                id="video {{ video.id }}"  loading="lazy" allowfullscreen></iframe>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="progress mt-5">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: {{ "now"|date("d") /daysInMonth *100 }}%" aria-valuenow="{{ "now"|date("d") }}" aria-valuemin="0" aria-valuemax="{{ daysInMonth }}">
                Plus que {{ daysInMonth - "now"|date("d")}} jours pour soutenir ta chanson préférée!
            </div>
        </div>
    </div>

    <div class="mb-5 mt-5"></div>

{% endblock %}
    {% block javascript %}
    <script src="/assets/javascript/styleSelection.js"></script>
    {% endblock %}
