{% if (topSongs |length) == 3 %}
    <div class="row">
        {% for video in topSongs %}
            {% if loop.index0 == 0  %}
            <div class="div col-lg-4"></div>
            <div class="card col-12 col-lg-4 ">
                <div class="card-header d-flex justify-content-between">
                    {% include 'component/_power_button.html.twig' %}
                    <img class="avatar-github" src="https://avatars.githubusercontent.com/{{ video.github }}">
                </div>
                <div class="embed-responsive embed-responsive-21by9 podium1">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ video.youtube_id }}"
                            id="video {{ video.id }}"  loading="lazy" allowfullscreen></iframe>
                </div>
                <div class="card-body d-flex justify-content-center">
                    <i class="fas fa-medal video{{ loop.index0 + 1}}"></i>
                </div>
            </div>
            <div class="div col-lg-4"></div>
            <div class="div col-lg-2"></div>
            {% endif %}
            {% if loop.index0 > 0  %}
            <div class="card col-12 col-lg-4">
                <div class="card-header d-flex justify-content-between">
                    {% include 'component/_power_button.html.twig' %}
                    <img class="avatar-github" src="https://avatars.githubusercontent.com/{{ video.github }}">
                </div>
                <div class="embed-responsive embed-responsive-21by9 podium{{ loop.index0 + 1}}">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ video.youtube_id }}"
                            id="video {{ video.id }}"  loading="lazy" allowfullscreen></iframe>
                </div>
                <div class="card-body d-flex justify-content-center">
                    <i class="fas fa-medal video{{ loop.index0 + 1}}"></i>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        <div class="div col-lg-2"></div>

    </div>
{% endif %}

