<div>
    <form method="POST" class="d-inline">
        <button type="submit" class="power-button " data-id="{{ video.id }}" name="{{ video.id }}" ><i data-id="{{ video.id }}" class="fas fa-bolt"></i></button>
        <p class="d-inline power" id="power-{{ video.id }}">
            {{ video.power }}
        </p>
    </form>

</div>
