{% extends 'layout.html.twig' %}
{% block content %}
    <div class="container-fluid">
        <div class="row mt-5 mb-5">
            <div class="col-4 col-lg-4 p-0 d-flex">
                {% include 'component/_badge_success.html.twig' %}
                <h3 class="dj-stat mr-2">Your Github avatar : </h3>
                <img class="avatar-github" alt="avatar-github" src="https://avatars.githubusercontent.com/{{ session.github }}">
            </div>
                <h3 class="dj-stat col-4 col-lg-4 d-flex justify-content-center align-items-center">{% if djStat.countSong <= 0 %} Number of song post : 0 {% else %} Number of song post : {{ djStat.countSong }} {% endif %}</h3>
                <h3 class="dj-stat col-4 col-lg-4 d-flex justify-content-center align-items-center">{% if djStat.contribution_force <= 0 %} Your Power contribution : 0 {% else %} Your Power contribution : {{ djStat.contribution_force }} {% endif %}</h3>
        </div>
        <div class="row col-12 col-xs-12 d-flex justify-content-center mt-5 mb-5">
            {% if (djBadges | length) > 1 %}
                <h2 class="djhome">All your won badges :</h2>
            {% elseif (djBadges | length) == 1 %}
                <h2 class="djhome">Your first won badge :</h2>
            {% else %}
            {% endif %}
        </div>
        <div class="row">
            {% for djBadge in djBadges %}
                        <div class="col-12 col-md-6 col-lg-4 d-flex-column text-center">
                            <h3>{{ djBadge.name }}</h3>
                            <img class="avatar-github" alt="badge-contributor" src="{{ djBadge.picture_url }}">
                            <p>{{ djBadge.description }}</p>
                        </div>
            {% endfor %}
        </div>
        <div class="row col-12 col-xs-12 d-flex justify-content-center mt-5 mb-5">
                {% if (djSongs | length) > 1 %}
                    <h2 class="djhome">All your songs posted</h2>
                {% elseif (djSongs | length) == 1 %}
                    <h2 class="djhome">Your song posted</h2>
                {% else %}
                {% endif %}
        </div>
        <div class="row">
            {% for djSong in djSongs %}
                    <div class="card card-fighters col-12 col-md-6 col-lg-4">
                        <div class=" card-header p-0 d-flex justify-content-between">
                            <img class="avatar-github" src="https://avatars.githubusercontent.com/{{ djSong.github }}">
                        </div>
                        <div class="embed-responsive embed-responsive-21by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ djSong.youtube_id }}"
                                    id="video {{ djSong.id }}" allowfullscreen></iframe>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-12 col-lg-12 d-flex justify-content-center mt-5">
        {% include 'component/_addsong.html.twig' %}
    </div>
{% endblock %}
