{% extends 'layout.html.twig' %}
{% block content %}
    <h1>Hello DJ</h1>
    <div class="row nav-link">
        <button type="button" class="btn nav-link" data-toggle="modal" data-target="#onAir">
            On Air
        </button>
        <a href="/Connect/disconnect" >Disconnect</a>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="onAir" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header ">
                    <h5 class="modal-title" id="exampleModalLongTitle">CONNEXION REUSSIE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    {% include 'component/_addsong.html.twig' %}
    <h2>{{ djStat.pseudo }}</h2>
    <div class="card-header p-0 d-flex justify-content-between">
        <div >
            <form method="POST" class="d-inline" action="/Home/powerUpById/{{ djStat.id }}">
                <button type="submit" class="power-button " name="{{ djStat.id }}"><i class="fas fa-bolt"></i></button>
            </form>
            <p class="d-inline power">
                {% if video.power >= 1000000000 %}
                    {{ (video.power/1000000000)|round(1, 'floor')  }}G
                {% elseif video.power >= 1000000 %}
                    {{ (video.power/1000000)|round(1, 'floor')  }}M
                {% elseif video.power >= 1000 %}
                    {{ (video.power/1000)|round(1, 'floor') }}K
                {% else %}
                    {{ video.power }}
                {% endif %}
            </p>
        </div>
        <img class="avatar-github" src="https://avatars.githubusercontent.com/{{ djStat.github }}">
    </div>
    <div class="embed-responsive embed-responsive-21by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ djStat.youtube_id }}"
                id="video {{ djStat.id }}" allowfullscreen></iframe>
    </div>
    </div>

{% endblock %}
