{% extends 'layout.html.twig' %}
{% block content %}
    <h1>Hello DJ</h1>
    <div class="row nav-link">
        <button type="button" class="btn nav-link" data-toggle="modal" data-target="#onAir">
            On Air
        </button>
        <a href="/Connect/disconnect" >Disconnect</a>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="onAir" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header ">
                    <h5 class="modal-title" id="exampleModalLongTitle">CONNEXION REUSSIE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    {% include 'component/_addsong.html.twig' %}
    <div class="card-header p-0 d-flex justify-content-between">
        <h2>Your pseudo : {{ djStat.pseudo }}</h2>
        <img class="avatar-github" alt="avatar-github" src="https://avatars.githubusercontent.com/{{ djStat.github }}">
        <h3>{% if djStat.countSong <= 0 %} Number of song post : 0 {% else %} Number of song post : {{ djStat.countSong }} {% endif %}</h3>
        <h3>{% if djStat.contribution_force <= 0 %} Your Power contribution : 0 {% else %} Your Power contribution : {{ djStat.contribution_force }} {% endif %}</h3>
    </div>
        {% for djBadge in djBadges %}
            <h2>All your won badges :</h2>
                <div>
                    <h3>{{ djBadge.name }}</h3>
                    <img class="avatar-github" alt="badge-contributor" src="{{ djBadge.picture_url }}">
                    <p>{{ djBadge.description }}</p>
                </div>
            {% endfor %}
    </div>

{% endblock %}
