{% extends 'layout.html.twig' %}
{% block content %}
    <div class="container-fluid" id="container">
        {% include 'component/_badge_success.html.twig' %}
        <div class="row">
            <div class="col-sm-12 card text-center">
                <a href="/Connect/disconnect">
                    <button type="button" class="btn btn-primary">DECONNEXION</button>
                </a>
            </div>
        </div>
        <div class="row mt-5 mb-5 pt-5 justify-content-center">
            <div class="col-6 col-lg-4 p-0 d-flex">

                <h3 class="dj-stat mr-2">Your Github avatar : </h3>
                <img class="avatar-github" alt="avatar-github" src="https://avatars.githubusercontent.com/{{ session.github }}">
            </div>
                <h3 class="dj-stat col-4 col-lg-4 d-flex justify-content-center align-items-center">{% if djStat.countSong <= 0 %} Number of song post : 0 {% else %} Number of song post : {{ djStat.countSong }} {% endif %}</h3>
                <h3 class="dj-stat col-4 col-lg-4 d-flex justify-content-center align-items-center">{% if djStat.contribution_force <= 0 %} Your Power contribution : 0 {% else %} Your Power contribution : {{ djStat.contribution_force }} {% endif %}</h3>
        </div>
        <div class="row line col-12 col-xs-12 d-flex justify-content-center mt-5 mb-5 pt-3">
            {% if (djBadges | length) > 1 %}
                <h2 class="djhome pl-5 pr-5">All your won badges :</h2>
            {% elseif (djBadges | length) == 1 %}
                <h2 class="djhome pl-5 pr-5">Your first won badge :</h2>
            {% else %}
            {% endif %}
        </div>
        <div class="row justify-content-center">
            {% for djBadge in djBadges %}
                        <div class="badge bg-line col-6 col-lg-3 d-flex-column text-center mt-5 mr-2 ml-2">
                            <h3>{{ djBadge.name }}</h3>
                            <img class="avatar-github" alt="badge-contributor" src="{{ djBadge.picture_url }}">
                            <p class="pt-3">{{ djBadge.description }}</p>
                        </div>
            {% endfor %}
        </div>
        <div class="row line col-12 col-xs-12 d-flex justify-content-center mt-5 mb-5 pt-3">
                {% if (videos | length) > 1 %}
                    <h2 class="djhome pl-5 pr-5">All your songs posted</h2>
                {% elseif (videos | length) == 1 %}
                    <h2 class="djhome pl-5 pr-5">Your song posted</h2>
                {% else %}
                {% endif %}
        </div>
        <div class="row">
            {% for video in videos %}
                    <div class="card card-fighters col-lg-3 col-12">
                        <div class=" card-header p-0 d-flex justify-content-between">
                            {% include 'component/_power_button.html.twig' %}
                            <img class="avatar-github" src="https://avatars.githubusercontent.com/{{ session.github }}">
                        </div>
                        <div class="embed-responsive embed-responsive-21by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ video.youtube_id }}"
                                    id="video {{ video.id }}"  loading="lazy" allowfullscreen></iframe>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-12 col-lg-12 d-flex justify-content-center mt-5 mb-5">
        {% include 'component/_addsong.html.twig' %}
    </div>
    <div class="col-12 col-lg-12 d-flex justify-content-center mt-5 mb-5">
            {% if  errors.videoExist  %}
                <div class="alert-danger col-4" role="alert"><i class="far fa-times-circle"></i>    {{errors.videoExist}}</div>
            {% endif %}
            {% if  errors.IncorrectUrl  %}
                <div class="alert-danger" role="alert"><i class="far fa-times-circle"></i>    {{errors.IncorrectUrl}}</div>
            {% endif %}
    </div>
    <div class="mb-5"></div>

{% endblock %}
